{{ ansible_managed }}

{% for facility in rsyslog_facilities %}
{% if facility.local_severities or facility.tcp_severities or facility.mysql_severities %}
##############################################
## {{ facility.name }}({{ facility.id }}) facility configuration
##############################################
{% endif %}
{# Check if local login is enabled based on severities severities #}
{% if facility.local_severities %}
## Local logging
{{ facility.name }}.{{ facility.local_severities|join(';'+facility.name+'.') }} action(
  type="omfile"
  file="{{ rsyslog_log_path }}/{{ facility.name }}.log"
  queue.filename="{{ facility.name }}_local_queue"
  queue.type="linkedlist"
  queue.size="100m"
  action.resumeRetryCount="-1"
  queue.saveOnShutdown="on"
)
{% endif %}
{% if rsyslog_remote_tcp.enabled and facility.tcp_severities %}

## Remote TCP loging
{{ facility.name }}.{{ facility.tcp_severities|join(';'+facility.name+'.') }} action(
  type="omfwd"
  protocol="tcp"
  target="{{ rsyslog_remote_tcp.target }}"
  port="{{ rsyslog_remote_tcp.port }}"
  queue.filename="{{ facility.name }}_tcp_queue"
  queue.size="100m"
  action.resumeRetryCount="-1"
  queue.saveOnShutdown="on"
)
{% endif %}
{# Check if remote mysql feature is enabled and if current facility uses it defining severities for this kind of remote #}
{% if rsyslog_remote_mysql.enabled and facility.mysql_severities %}

### Remote MySQL loging
{{ facility.name }}.{{ facility.mysql_severities|join(';'+facility.name+'.') }} action(
  template="{{ rsyslog_remote_mysql.template }}"
  type="ommysql" 
  server="{{ rsyslog_remote_mysql.server }}" 
  db="{{ rsyslog_remote_mysql.db }}"
  uid="{{ rsyslog_remote_mysql.uid }}"
  pwd="{{ rsyslog_remote_mysql.pwd }}"
  queue.type="linkedlist"
  queue.filename="{{ facility.name }}_mysql_queue"
  queue.size="100m"
  action.resumeRetryCount="-1"
  queue.saveOnShutdown="on"
)
{% endif %}
{% endfor %}
